<nav class="navbar navbar-expand-md">
  <div class="container-fluid text-center nav-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-font" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="#">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="#">Contact</a>
        </li>
          <li class="nav-item">
            <a class="nav-link nav-font" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-font" href="#">Log Out</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Other Apps
          </a>
          <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item nav-color nav-font"  href="#">Tabletop Group</a></li>
            <li><a class="dropdown-item nav-color nav-font" href="#">Todo list</a></li>


          </ul>

        </li>


      </ul>
    </div>
  </div>
</nav>
