
<%- include("partials/header"); -%>
    <% if (videoAdded) { %>
      <h1>Video saved. Add another?</h1>
    <% } else { %>
      <h1>Add Video</h1>
    <% } %>
    <form class="" action="/add-video" method="post">
      <div class="form-group">
        <label>Link</label>
        <input class="form-control" type="text" name="videoLink">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Add Video to database</button>
    </form>

<%- include("partials/footer"); -%>
