<%- include("partials/header"); -%>


  <div class="col-8">
    <div class="container-fluid main-container text-center">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=videoId%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/random-video"><button type="button" class="btn home-btn btn-warning">Get Different Video</button></a>

    </div>
  </div>



<%- include("partials/footer"); -%>
