<%- include("partials/header"); -%>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="container-fluid text-center">
      <h1>Welcome!</h1>
      <h3>This site work's as a tool to randomly select YouTube training for you.</h3>
      <h3>Log in and let's begin!</h3>
      <form class="" action="index.html" method="post">

      </form>
    </div>
  </div>
  <div class="col-2"></div>
</div>


<%- include("partials/footer"); -%>
