<%- include("partials/header"); -%>


  <div class="col-8">
    <div class="container-fluid main-container text-center">

        <h1>Welcome!</h1>

      <h3>This site work's as a tool to randomly select YouTube training for you.</h3>
      <h3>Log in and let's begin!</h3>
      <a href="/login"><button type="button" class="btn home-btn btn-warning">Log in</button></a>
      <br>
      <a href="/register"><button type="button" class="btn home-btn btn-warning">Register</button></a>

    </div>
  </div>



<%- include("partials/footer"); -%>
