/* https://colorhunt.co/palette/293462f24c4cec9b3bf7d716 */

:root {
  --primary: #ea8a8a;
  --secondary: #ebd5d5;
  --bg: #f2f2f2;
  --flash: #c000ff;
  --font: #685454;
}

/* ----------------GENERAL---------------------- */
h1,
.indie {
  font-family: "Indie Flower", cursive;
  color: var(--font);
}

p,
h3,
h4,
h5,
label,
.oswald,
.nav-font {
  font-family: "Oswald", sans-serif;
  color: var(--font);
}

body,
.carousel-inner {
  background-color: var(--bg);
  background-image: url("../img/black-thread.png");
}

a {
  color: var(--font);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

#main-body {
  background-color: var(--secondary);
  border-radius: 6px;
  color: var(--font);
  height: 100%;
  margin-top: 12px;
}

.main-container {
  background-color: var(--secondary);
  border-radius: 30px;
  margin-bottom: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.flash {
  color: var(--flash);
}

/* --------------------NAVBAR------------------- */

.navbar,
.dropdown-menu {
  background-color: var(--primary);
}

.navbar {
  margin-bottom: 7%;
}

.nav-font {
  color: var(--font);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:focus,
.nav-link:hover,
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--secondary);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--primary);
}
/* ----------------FOOTER---------------------- */
.footer {
  background-color: var(--secondary);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-font {
  margin-bottom: 0;
  color: var(--font);
}

.footer-icon {
  font-size: 2rem;
  margin-top: 10px;
}

.footer-link {
  color: var(--font);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-link:hover {
  color: var(--primary);
}

.btn-warning {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--font);
  font-family: "Oswald", sans-serif;;
}

.btn-warning:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
  color: var(--font);
}

.home-btn {
  width: 50%;
}

.no-margin {
  margin: 0;
}

.btn-row {
  padding: 0 12px;
  margin-bottom: 5px;
}

.heading {
  font-size: 20px;
}

.carousel-inner {
  padding-top: 6px;
  margin-bottom: 12px;
  border-radius: 6px;
}
