/* https://colorhunt.co/palette/293462f24c4cec9b3bf7d716 */

/* ----------------GENERAL---------------------- */
h1, .indie {
  font-family: 'Indie Flower', cursive;
  color: white;
}

p, h3, h4, h5, label, .oswald, .nav-font {
  font-family: 'Oswald', sans-serif;
  color: white;
}

body, .carousel-inner {
  background-color: #F24C4C;
  background-image: url("../img/black-thread.png");
}

a {
  color: #CE9461;
  text-decoration: none;
}

a:hover {
  color: #E0D8B0;
}

#main-body {
  background-color: #293462;
  border-radius: 6px;
  color: black;
  height: 100%;
  margin-top: 12px;
}

.main-container {
  background-color: #293462;
  border-radius: 30px;
  margin-bottom: 15%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* --------------------NAVBAR------------------- */

.navbar, .dropdown-menu {
  background-color: #EC9B3B;
}

.navbar {
  margin-bottom: 7%;
}

.nav-font {
  color: black;
}

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:focus, .nav-link:hover, .dropdown-item:focus, .dropdown-item:hover {
    color: #F7D716;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #EC9B3B;
}
/* ----------------FOOTER---------------------- */
.footer {
  background-color: #F7D716;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-font {
  margin-bottom: 0;
  color: black;
}

.footer-icon {
  font-size: 2rem;
  margin-top: 10px;
}

.footer-link {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-link:hover {
  color: #293462;
}

.btn-warning {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #EC9B3B;
  border-color: #EC9B3B;
}

.home-btn {
  width: 50%
}

.skills-btn {
  background-color: #DEA057;
  width: 100%;
  border-radius: 0;
}

.no-margin {
  margin: 0;
}

.btn-row {
  padding: 0 12px;
  margin-bottom: 5px;
}

.skills-box {
  border-radius: 6px;
  background-color: #E0D8B0;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.heading {
  font-size: 20px;
}

.carousel-inner {
  padding-top: 6px;
  margin-bottom: 12px;
  border-radius: 6px;
